@font-face {
  font-family: "OrgonPlan";
  src: url("../font/OrgonPlan/OrgonPlan.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OrgonPlan", sans-serif;
}

body {
  background-color: #121212;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.git-img {
  width: 80%;
}

.container {
  width: 60dvw;
  height: 100dvh;
  padding: 80px 72px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.search-bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 80%;
  border: 1px solid #30363d;
  border-radius: 6px;
  padding: 12px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  padding-left: 40px;
  background: url("image/search.svg") no-repeat 12px center;
  background-size: 16px;
}

.search-input::placeholder {
  color: #8b949e;
}

span {
  font-size: 14px;
  font-weight: 400;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 8px;
  left: 0;
  padding: 32px;
}

.left-foot ul {
  display: flex;
  align-items: center;
}

.left-foot ul li a {
  color: #8b949e;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  margin-right: 16px;
}

.right-foot ul {
  display: flex;
  align-items: center;
}

.right-foot ul li a {
  color: #8b949e;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  margin-right: 16px;
}

.g-logo {
  display: inline;
  width: 20px;
  height: 20px;
  transform: translate(0, 2px);
}
